/* Navbar.css */

.navbar {
    padding: 1rem;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left a,
.navbar-right a,
.navbar-right button {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

.navbar-right button {
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-right button:hover,
.navbar-left a:hover,
.navbar-right a:hover {
    text-decoration: underline;
}

.navbar-user {
    margin-right: 1rem;
}
